.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header {
  /*background-color: #59534f;*/
}

.logo {
  width: 120px;
  height: 31px;
  background: #333;
  border-radius: 6px;
  margin: 16px 28px 16px 0;
  float: left;
  /*width: 200px;*/
  /*height: 64px;*/
  /*background-color: #ed6c44;*/
  /*margin-left: -50px;*/
  /*float: left;*/
  text-align: center;
  line-height: 31px;
  font-size: 28px;
  font-style: italic;
  color: #ffffff;
}

/*.nav-menu-item {*/
  /*font-size: 14px !important;*/
  /*color: #c8ab86 !important;*/
/*}*/

/*.nav-menu-item.ant-menu-item-selected {*/
  /*color: #c8ab86 !important;*/
/*}*/

/*!*.nav-menu-item.ant-menu-item-active {*!*/
  /*!*color: #c8ab86 !important;*!*/
/*!*}*!*/

/*.sider-menu-item {*/
  /*background-color: #59534f !important;*/
  /*font-size: 14px !important;*/
  /*color: #e3ddd5 !important;*/
/*}*/

/*.sider-menu-item.ant-menu-item-selected {*/
  /*background-color: #f8f3f0 !important;*/
  /*color: #c8ab86 !important;*/
/*}*/

/*.sider-sub-menu-item {*/
  /*background-color: #59534f !important;*/
  /*font-size: 14px !important;*/
  /*color: #e3ddd5 !important;*/
/*}*/
/*.sider-sub-menu-item.ant-menu-item-selected {*/
  /*color: #c8ab86 !important;*/
/*}*/
/*.ant-menu-sub > .sider-menu-item.ant-menu-item-selected {*/
  /*background-color: #59534f !important;*/
  /*color: #c8ab86 !important;*/
/*}*/
